@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-kozuka-gothic: "kozuka-gothic-pro", sans-serif;
  --font-kozuka-mincho: "kozuka-mincho-pro", serif;
  --font-seasons: "the-seasons", sans-serif;
  --font-futura: "futura-100", sans-serif;
  --font-corporate-a: "corporate-a", serif;
  --font-dotgothic16: dotgothic16, sans-serif;
}

@theme {
  /* AboutMe */
--color-aboutMe-50: #fafafa;
--color-aboutMe-100: #f5f5f5;
--color-aboutMe-200: #e6e6e6;
--color-aboutMe-300: #d6d6d6;
--color-aboutMe-400: #a5a5a5;
--color-aboutMe-500: #767676;
--color-aboutMe-600: #575757;
--color-aboutMe-700: #434343;
--color-aboutMe-800: #222222;
--color-aboutMe-900: #1a1a1a;
--color-aboutMe-950: #0a0a0a;
 /* Works */
--color-works-50: #fcf8ee;
--color-works-100: #f5e7c6;
--color-works-200: #edd49a;
--color-works-300: #e4ba65;
--color-works-400: #dea341;
--color-works-500: #d5852b;
--color-works-600: #bc6623;
--color-works-700: #9d4a20;
--color-works-800: #803b20;
--color-works-900: #6a311d;
--color-works-950: #3c180c;
/* Creative */
--color-creative-50: #fff8ed;
--color-creative-100: #fff0d5;
--color-creative-200: #feddaa;
--color-creative-300: #fec473;
--color-creative-400: #fc9f3b;
--color-creative-500: #fa8112;
--color-creative-600: #eb670b;
--color-creative-700: #c34d0b;
--color-creative-800: #9b3d11;
--color-creative-900: #7c3412;
--color-creative-950: #431807;
/* Original Works */
--color-originalWorks-50: #faf3e1;
--color-originalWorks-100: #f6ebcf;
--color-originalWorks-200: #edd69a;
--color-originalWorks-300: #e3bc66;
--color-originalWorks-400: #dca543;
--color-originalWorks-500: #d4882c;
--color-originalWorks-600: #bb6924;
--color-originalWorks-700: #9c4c21;
--color-originalWorks-800: #7f3d21;
--color-originalWorks-900: #69331e;
--color-originalWorks-950: #3c190c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  transition: opacity 0s ease;
}

.wf-loading body {
  opacity: 0;
}
