@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-kozuka-gothic: "kozuka-gothic-pro", sans-serif;
  --font-kozuka-mincho: "kozuka-mincho-pro", serif;
  --font-seasons: "the-seasons", sans-serif;
  --font-futura: "futura-100", sans-serif;
  --font-corporate-a: "corporate-a", serif;
  --font-dotgothic16: dotgothic16, sans-serif;
}

@theme {
  /* AboutMe */
  --color-aboutme-50: #faf3e1;
  --color-aboutme-230: #cac4b7;
  --color-aboutme-410: #9c988e;
  --color-aboutme-590: #706e67;
  --color-aboutme-770: #474643;
  --color-aboutme-950: #222222;
 /* Works */
  --color-works-50: #faf3e1;
  --color-works-230: #f6e1ba;
  --color-works-410: #f6cd94;
  --color-works-590: #f7b66e;
  --color-works-770: #f99d46;
  --color-works-950: #fa8112;
  /* Creative */
  --color-creative-50: #faf3e1;
  --color-creative-230: #f9f1dc;
  --color-creative-410: #f8eed6;
  --color-creative-590: #f7ecd1;
  --color-creative-770: #f6e9cb;
  --color-creative-950: #f5e7c6;
  /* Original Works */
  --color-original-50: #faf3e1;
  --color-original-230: #fbf5e7;
  --color-original-410: #fcf8ed;
  --color-original-590: #fdfaf3;
  --color-original-770: #fefdf9;
  --color-original-950: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (pointer: fine) {
    * { cursor: none; }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  transition: opacity 0s ease;
}

.wf-loading body {
  opacity: 0;
}
